@model List<ApiMovieViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Uçuş İçin Seçilen En İyi Film Top 100 Listesi</h1>
<br />
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Film Adı</th>
        <th>Imdb Puanı</th>
        <th>Yapım Yılı</th>
        <th>Fragman</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.rank</td>
            <td>@item.title</td>
            <td>@item.rating</td>
            <td>@item.year</td>
            <td><a href="https://www.imdb.com/search/title/?sort=user_rating,desc&groups=top_100" class="btn btn-outline-dark">Fragmanı Oynat</a></td>
        </tr>
    }
</table>
